.ProgressForm {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70vw;
    min-height: 300px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    position: relative;
}
.ProgressBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--border-color)
}
.inputBlock {
    width: 50%;
    height: 100%;
}
.input {
    max-width: 80%;
    margin-top: 30px;
}
.btn {
    position: absolute;
    top: 15px;
    right: 30px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    transition: 500ms background-color;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(112, 112, 112, 0.301);
        transition: 0.5s;
    }
    &:active {
        background-color: black;
        transition: 0.3s;
    }
}
